* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 1600px) {
  .container {
    max-width: 1600px;
  }
}
@media (min-width: 1900px) {
  .container {
    max-width: 1900px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1180px;
  }
}

button {
  border: none;
  border-radius: 5px;
  padding: 12px 32px;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px !important;
}
